.hero__wrapper {
   border-bottom: .5rem solid var(--first-brand-color);
}
.hero {
    padding: 15rem 0;
}
.hero .img {
    width: 100%;
    max-width: 60%;
}


@media screen and (min-width: 1024px) {
    .hero {
        /* padding: 40rem 0; */
    }
}