:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #f38074;
  --second-brand-color: #f3d4b4;
  --third-brand-color: yellow;

  --main-font: 'Oswald';
  --title-font: 'Noto Sans Mono';

  font-size: 62.5%;
}
